.toggleMenu {
    display: none;

}
.dws-menu label.toggleMenu {
    display: none;
    margin: 0 auto;
    background-color: #E5E5E5;
    cursor: pointer;
    position: relative;
}
@media screen and (max-width: 800px) {
    .main-page {
        display: grid;
        grid-template-areas:
         "menu"
         "grid";
        grid-template-columns: 1fr;
        grid-row-gap: 2vw;
        margin: 0 auto;

    }

    .dws-menu {
        overflow: hidden;
        grid-area: menu;
        margin-bottom: 15px;
    }

    .dws-menu-item {
        display: none;
       width: 100%;
    }
    .custom-distance-btns-container, .any-distance-btn {
        width: 100%;
    }
    .main-page-of-products {
        grid-area: grid;
        margin-left: 15px;
    }
    .product-description {
        margin-bottom: 15px;
    }
    .dws-menu label.toggleMenu {
        display: block;

    }
    input.toggleMenu:checked + label.toggleMenu {
        background: #f4f4f4;
    }
    input.toggleMenu:checked ~ div.dws-menu-item {
        display: block;
    }
    input.toggleMenu:checked ~ div.dws-menu-item{
        display: block;
    }
}

}
